html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* styles */

body{
    font-family: 'Source Sans Pro', sans-serif;
}

nav {
    width: 100%;
    height: 100px;
    position: relative;
    background-color: #EFDEEF;
    position: fixed;
}

nav img {
    width: 200px;
    height: inherit;
    object-fit: contain;
    float: left;

}

ul {
    display: inline-block;
    height: inherit;
}

ul li {
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 100px;
}

ul li a {
    display: inline-block;
    width: 100px;
    padding-top: 40px;
    padding-bottom: 44px;
    text-decoration: none;
    color:#733572 ;
}


li.currentPage a {
    background-color: #733572;
    box-shadow: 5px 5px 0 0px #D8AFD8 ;
    text-decoration: none;
    color: white;
    font-size: 20px;


}

li a:hover{
    background-color: #733572;
    box-shadow: 5px 5px 0 0px #D8AFD8 ;
    transition: all .3s ease-in-out;
    color: white;
    font-size: 20px;

}

.header{
    padding-top: 180px;
    padding-bottom: 25px;
    width: 100%;
    height: 50px;
}
#welcome {
    text-align: center;
    color: #733572;
    font-weight: 700;
    font-size: 50px;
    padding-bottom: 200px;
}

.content {
    width: 100%;
    height: 500px;
    display:inline-block;

}

.leftContent {
    height: inherit;
    width: 50%;
}

.leftContent img {
    height: 500px;
    width: 300px;
    object-fit: cover;
    padding-left: 80px;
    float: left;

}

#profile {
    color: #733572;
    font-weight: 400;
    font-size: 30px;
    padding-top: 50px;
}

.leftContent p {
    padding-top: 20px;
    width: 100%;
    line-height: 20px;
    font-weight: 300;
    line-height: 1.6rem;
}

.rightContent {
    height: inherit;
    width: 50%;
    float: right;
    margin-top: -25%;
    margin-bottom: -25%;
}
.rightContent iframe{
    width: 80%;

}

.package {
    background-color: #733572;
    width: 100%;
    height: 500px;
}

.package h1 {
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 50px;
    padding-top: 40px;
}

.package .reason {
    height: 60%;
    width: 25%;
    margin: 30px auto;
}

.reason ul {
    width: 100%;
    height: 100%;
    display: inline-block;

}


.reason ul li {
    width: 50%;
    margin-bottom: 30px;

}

.reason ul li img {
    float: left;
    width: 80px;
    height: 80px;
}

.reason ul li h2 {
    width: 500px;
    text-align: left;
    height: 80px;
    color: white;
    font-weight: 600;
    font-size: 30px;
    padding: 20px 20px 20px 120px;
}

footer {
    background-color: #D8AFD8;

}

footer p {
    display: inline-block;
    padding: 20px;
    text-align: center;
    width: 100%;
    color: #733572;
    font-weight: 300;
    position: relative;
}